<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="path" value="d:\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindConfig" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:00:10" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" maxConnections="1024" hostNameComparisonMode="StrongWildcard" maxReceivedMessageSize="65560">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyBehavior" name="ACUServer.ControlServer">
        <endpoint address="net.tcp://localhost:9697/acuserver" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" contract="ACUServer.IControl" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:2309/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MyBehavior" name="ACUServer.ACUServer">
        <endpoint address="net.tcp://localhost:9696/acuservice" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" contract="ACUServer.IACU" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:2308/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MyBehavior" name="ACUServer.UserClientServer">
        <endpoint address="net.tcp://localhost:9695/acuservice" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" contract="ACUServer.IUser" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:2307/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MyBehavior" name="ACUServer.OPCClientProxyServer">
        <endpoint address="net.tcp://localhost:9694/acuservice" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" contract="ACUServer.IOPCClientProxy" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:2306/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="false" />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>